<md-sidenav-layout>
    <md-sidenav #sidenav>
        <md-nav-list>
            <a routerLink="/units" md-list-item *ngFor="let view of views">
                <md-icon md-list-avatar>{{view.icon}}</md-icon>
                <span md-line>{{view.name}}</span>
                <span md-line class="secondary">{{view.description}}</span>
            </a>
        </md-nav-list>
    </md-sidenav>
    <md-toolbar color="primary">
        <button md-icon-button (click)="sidenav.open()">
            <md-icon>menu</md-icon>
        </button>
        &nbsp;Prototype
    </md-toolbar>
    <router-outlet></router-outlet>
</md-sidenav-layout>