.add-page{
  cursor: pointer;
}
.page {
    width: 100%;
    background: #f3f3f3;
    text-align: center;
    border-bottom:1px solid #ccc;
    padding: 24px;
    font-weight: bold;
    cursor:pointer;
}
.wks-section{
  border: 1px solid #ccc;
  padding:1%; 
}
.selected {
  background: #067ade;
  color:#fff;
}
.page-container{
  padding-right: 0px;
  padding-left: 0px;
}
.panel .navbar{
  min-height: auto;
  margin-bottom: 0;
}
.change-page-name{
    position: fixed;
    top: 1%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50%;
    height: 11%;
    padding: 1%;
    font-size: 2em;
    border: 1px solid #ccc;
    box-shadow: 0px 11px 13px #ccc;
}
.tools{
  font-size: 2em;
  background: #EFF0F1
}
.tools ul li{
    margin-left: 0px;
    padding: .5%;
    border-right: 1px solid rgba(0,0,0,.8);
}
.workspace{
  min-height: 250px;
  border: 1px dashed rgba(0,0,0,.8);
}
a:focus, a:hover{
  text-decoration: none
}
.secondary{
  color:rgba(0,0,0,0.54)
}
.md-ripple-background, .md-ripple-foreground{
  background-color: rgba(0,0,0,0) !important;
  display: none;
}
.card-img{
  width: 100%;
}
.card-container md-card{
  width: 23%;
  margin-left: 1.6%;
  margin-top: 1%;
}
.card-container{
  display: flex;
  flex-flow: row wrap;
}
.md-button-ripple{
  box-sizing: content-box;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    transform: scale(0);
    transform-origin: 0% 0%;
    box-shadow: 0px 5px 5px rgba(126, 111, 111, 0.39);
    transition: .3s all cubic-bezier(0.19, 1, 0.22, 1);
}
.form.active{
  transform: scale(1);
}
.form md-card{
  align-self: flex-start;
}
.form md-card md-input{
  width: 100%;
}
.active md-icon{
      transform: rotate(45deg);
      transition: rotate 1s ease;
}
 /*
  * See https://github.com/angular/angular.io/blob/master/public/docs/_examples/styles.css
  * for the full set of master styles used by the documentation samples
  */
