
<!-- Modal -->
<div class="modal fade" id="addUnit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Unit</h4>
      </div>
      <div class="modal-body">
          <form #unitForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" [(ngModel)]="newUnit.name" class="form-control" id="name" placeholder="Name" required>
             </div>
             <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="description" [(ngModel)]="newUnit.description" class="form-control" id="description" placeholder="Description" required>
             </div>
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
      </div>
    </div>
  </div>
</div>
<div class="card-container">
    <md-card *ngFor="let unit  of units">
        <md-card-header>
            <md-card-title>{{unit.name}}</md-card-title>
        </md-card-header>
        <img md-car-image class="card-img" [alt]="unit.name" src="https://res.cloudinary.com/rppcloud/image/upload/9f7c48a0-099b-4747-8089-658943e16b9a.jpg">
        <md-card-content class="secondary">
            <md-nav-list>
                <md-list-item>
                    <span md-line>{{unit.created_at}}</span>
                    <span md-line>{{unit.description}}</span>
                </md-list-item>
            </md-nav-list>
        </md-card-content>
        <md-card-action layout="row" layout-align="end">
            <button md-button color="primary" (click)="editUnit(unit)">Edit</button>
        </md-card-action>
    </md-card>
</div>
