
<!-- Modal -->
<button [class.active]="formShowing" md-button md-tooltip="Add unit" (click)="formShowing=!formShowing"><md-icon >add</md-icon></button>
<div class="form" [class.active]="formShowing">
    <md-card>
        <md-card-title>Add Unit</md-card-title>
        <md-card-content>
            <md-input-container>
                <md-input placeholder="name" [(ngModel)]="newUnit.name"></md-input>
                <md-input placeholder="Description" maxLength="100" class="demo-full-width"
                         [(ngModel)]="newUnit.description"
                        #description
                >
                <md-hint align="end">{{description.characterCount}} / 200</md-hint>
                </md-input>
            </md-input-container>
        </md-card-content>
        <md-card-actions align="end">
            <button (click)="onSubmit()" md-raised-button>ADD UNIT</button>
        </md-card-actions>
    </md-card>
</div>
<div class="card-container">
    <md-card *ngFor="let unit  of units">
        <md-card-header>
            <md-card-title style="">{{unit.name}} </md-card-title>
            <md-icon class="card-options" (click)="selectUnit(unit)">more_vert</md-icon>
            <div class="card-options-container" [class.active]="unit === selectedUnit">
                <md-card>
                    <md-card-header>
                        <md-card-title><h4>Edit mode</h4></md-card-title>
                    </md-card-header>
                    <md-card-content>
                        <md-list>
                            <md-list-item><md-input md-line [(ngModel)]="unit.name" placeholder="Name" (change)="updateUnit(unit)"></md-input></md-list-item>
                            <md-list-item><md-input md-line [(ngModel)]="unit.description" placeholder="Description" #descriptionEdit (change)="updateUnit(unit)">
                                <md-hint align="end">{{descriptionEdit.characterCount}} / 200</md-hint>
                            </md-input></md-list-item>
                        </md-list>
                    </md-card-content>
                    <md-card-actions align="end">
                      
                    </md-card-actions>
                </md-card>
            </div>
        </md-card-header>
        <img md-car-image class="card-img" [alt]="unit.name" src="https://res.cloudinary.com/rppcloud/image/upload/9f7c48a0-099b-4747-8089-658943e16b9a.jpg">
        <md-card-content class="secondary">
            <md-nav-list>
                <md-list-item>
                    <span md-line>{{unit.created_at}}</span>
                    <span md-line>{{unit.description}}</span>
                </md-list-item>
            </md-nav-list>
        </md-card-content>
        <md-card-action align="end">
            <button md-button color="primary" (click)="editUnit(unit)">Edit</button>
        </md-card-action>
    </md-card>
</div>