
<div class="flex-container">
    <div class="col-flex-2" *ngIf="pagecomponent.pages">
        <md-card>
            <md-card-header>
                <md-card-title>Pages</md-card-title>
                <md-icon [class.active]="formShowing" (click)="formShowing=!formShowing">add</md-icon>
                <div class="form" [class.active]="formShowing">
                    <md-card>
                        <md-card-title>Add Page</md-card-title>
                        <md-card-content>
                            <md-input-container>
                                <md-input placeholder="Page Name" [(ngModel)]="newPage.name"></md-input>
                            </md-input-container>
                        </md-card-content>
                        <md-card-actions align="end">
                            <button (click)="addPage()" md-raised-button>ADD PAGE</button>
                        </md-card-actions>
                    </md-card>
                </div>
            </md-card-header>
            <md-card-content [dragula]='"pages"'>
                <md-card class="page" *ngFor="let page of pagecomponent.pages; let i = index"  
                (click)="selectPage(page)" 
                [class.selected]="page === selectedPage">
                    <md-card-content>
                        <h4>{{page.name}}</h4>
                    </md-card-content>
                </md-card>
            </md-card-content>
        </md-card>
    </div>
    <div class="col-flex-10">
        <md-card>
            <md-card-header>
                <md-card-title [dragula]='"workspace"' [dragulaModel]="tool" id="tools">
                    <md-icon >web_asset</md-icon>
                    <md-icon >perm_media</md-icon>
                    <md-icon >question_answer</md-icon>
                    <md-icon >art_track</md-icon>
                </md-card-title>
            </md-card-header>
            <md-card-content>
                <workspace  [dragula]='"workspace"' [dragulaModel]="tool" class="workspace col-flex-12">
                    <section *ngIf="sections"></section>
                </workspace>
            </md-card-content>
        </md-card>
    </div>
</div>
